/* Basic styles for PLAS 2026 Workshop */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.footer {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}